.container{
    margin-bottom: 100px;}
.card-panda{
    border: 0;
}
.card-panda-footer{
    background-color: white;
    border: 0;
}
.panda-slide .carousel-item {
    background-color: #fceae8;
    border-radius: 1em;
    margin-top: 100px;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor:default;}
    .bg-p{
        background-color: #fceae8;
        border-radius: 1em;
        
    }
    .cat-1, .cat-2, .cat-3{
        padding: 10px 30px;
        border-radius: 10px;
    }
    .cat-1{
        background-color: orange;
    }
    .cat-2{
        background-color: orchid;
    }
    .cat-3{
        background-color: blue;
    }
    .categories img{
        width: 100px;
    }